@CHARSET "UTF-8";

body {
	margin: 0; 
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
	color: #bdbdbd;
}

.container {
	margin: auto;
	width: 80%;
	height: 99vh; 
	padding: 0 20px;
	background-color: #2e3436; 
	border: 2px solid #bdbdbd;
}

h1 {
	font-size: 2em;
}

.logo {
	 width: 80%; 
}

.rodape {
	position: absolute;
	bottom: 25px;
	width: 79vw;
	font-size: 0.8em;
	text-align: center;
	line-height: 10px;
}

.grafico {
	height: 200px;
	text-align: center;
}

.painel{
	width: 100%;
}

.rotulo {
	width: 10%;
	text-align: right;
}

.campo {
	width: 35%;
}

.mensagem {
	width: 55%;
}
