@CHARSET "UTF-8";

body_ {
	margin: 0; 
	background-color: #ddd;
	font-family: 'Open Sans', sans-serif;
	color: #bdbdbd;
}

.container_ {
	margin: auto;
	width: 80%;
	padding: 0 20px;
	background-color: #2e3436; 
	border: 2px solid #bdbdbd;
}

h1 {
	font-size: 2em;
}

.logo {
	 width: 100%; 
}

.rodape {
	width: 79vw;
	font-size: 0.8em;
	text-align: center;
	line-height: 10px;
}

.grafico {
	height: 200px;
	text-align: center;
}

.painel{
	width: 100%;
}

.rotulo {
	width: 10%;
	text-align: right;
}

.campo {
	width: 35%;
}

.mensagem {
	width: 55%;
}

.nav-group {
    color: #FFFFFF;
    background-color: #000000;
    margin: 0px;
    opacity: .20;
    border-radius: 0px;
    display: block;
    padding: 1px 5px;
}

