@CHARSET "UTF-8";

.grafico {
	height: 200px;
	text-align: center;
}

li {
	list-style: none;
}

.alert-info::before {
    content: "\f05a"; 
    font-family: FontAwesome;
    font-size: 1.2em;
}

.alert-danger::before {
    content: "\f057"; 
    font-family: FontAwesome;
    font-size: 1.2em;
}

.alert-warn::before {
    content: "\f071"; 
    font-family: FontAwesome;
    font-size: 1.2em;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, 
.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, 
.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, 
.ui-paginator .ui-paginator-current {
	margin-left: 0!important;
	margin-right: 0!important;
}

.ui-paginator-pages {
	padding-left: 0!important;
    padding-right: 0!important;
}

.ui-corner-all {
	border-radius: 0!important;
}

