@CHARSET "UTF-8";

.grafico {
	height: 200px;
	text-align: center;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, 
.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, 
.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, 
.ui-paginator .ui-paginator-current {
	margin-left: 0!important;
	margin-right: 0!important;
}

.ui-paginator-pages {
	padding-left: 0!important;
    padding-right: 0!important;
}

.ui-corner-all {
	border-radius: 0!important;
}

.ui-messages-info-summary::before{
    content: "\f05a"; 
    font-family: FontAwesome;
    font-size: 1.2em;
    padding-right: 10px;
}

.ui-messages-warn-summary::before{
    content: "\f071"; 
    font-family: FontAwesome;
    font-size: 1.2em;
    padding-right: 10px;
}

.ui-messages-error-summary::before{
    content: "\f057"; 
    font-family: FontAwesome;
    font-size: 1.2em;
    padding-right: 10px;
}

.ui-messages-fatal-summary::before{
    content: "\f057"; 
    font-family: FontAwesome;
    font-size: 1.2em;
    padding-right: 10px;
}
